.exhibition-info {
    padding: 50px 0;
    margin-top: 113px;

    &__img {
        img {
            width: 100%;
        }
    }
}

.purchase {
    display: flex;

    &__btn {
        margin-right: 30px;
    }

    &__numbers {
        display: flex;
        align-items: center;
    }

    &__decr, &__incr {
        font-size: 30px;
        width: 50px;
    }

    &__count {
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
}