.exhibition-info {
    padding: 5.5625rem 0 6.25rem;
    margin-top: 8.0625rem;

    @media (min-width: 1921px) {
        padding: calc( 5.5625*16*100vw/1920) 0 calc( 6.25*16*100vw/1920);
        margin-top: calc( 8.0625*16*100vw/1920);
    }

    @media (max-width: 1199px) {
        margin-top: 7.4375rem;
    }

    @media (max-width: 991px) {
        margin-top: 5.1875rem;

        padding: 3.875rem 0 4.5625rem;
    }

    @media (max-width: 575px) {
        margin-top: 3.4375rem;
        padding: 0 0 3rem;
    }

    &__img {
        display: none;
        width: 100%;
        height: 11.25rem;
        overflow: hidden;
        margin-bottom: 1.3125rem;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 575px) {
            display: block;
        }
    }
}

.exhibition {
    display: flex;
    justify-content: space-between;

    margin-bottom: 6.3125rem;

    @media (min-width: 1921px) {
        margin-bottom: calc( 6.3125*16*100vw/1920);
    }

    @media (max-width: 991px) {
        flex-direction: column;

        margin-bottom: 3.75rem;
    }

    @media (max-width: 575px) {
        margin-bottom: 1.875rem;
    }

    &__img {
        min-width: 660/1160*100%;
        max-width: 660/1160*100%;
        border-radius: .9375rem;
        overflow: hidden;

        @media (min-width: 1921px) {
            border-radius: calc( 0.9375*16*100vw/1920);
        }

        @media (max-width: 991px) {
            min-width: 100%;
            max-width: 100%;

            margin-bottom: 2.8125rem;
        }

        @media (max-width: 575px) {
            display: none;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__purchase-info {
        width: 460/1160*100%;
        padding: 2.5rem;
        background: #F4F4F4;
        border-radius: .9375rem;

        @media (min-width: 1921px) {
            padding: calc( 2.5*16*100vw/1920);
            border-radius: calc( 0.9375*16*100vw/1920);
        }

        @media (max-width: 991px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            width: 100%;
            padding: 0;
            background: none;
        }
    }

    &__title {
        font-size: 2.625rem;
        line-height: 90%;

        margin-bottom: 1.1875rem;

        @media (min-width: 1921px) {
            font-size: calc( 2.625*16*100vw/1920);
            margin-bottom: calc( 1.1875*16*100vw/1920);
        }

        @media (max-width: 575px) {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    &__time, &__address {
        font-size: 1.125rem;
        line-height: 117%;

        @media (min-width: 1921px) {
            font-size: calc( 1.125*16*100vw/1920);
        }

        @media (max-width: 575px) {
            font-size: .75rem;
        }
    }

    &__address {
        margin-bottom: 1.3125rem;

        @media (min-width: 1921px) {
            margin-bottom: calc( 1.3125*16*100vw/1920);
        }

        @media (max-width: 575px) {
           margin-bottom: 1.25rem;
        }
    }

    &__prise {
        font-size: 2.625rem;
        line-height: 90%;

        margin-bottom: 1.25rem;

        @media (min-width: 1921px) {
            font-size: calc( 2.625*16*100vw/1920);
            margin-bottom: calc(1.25*16*100vw/1920);
        }

        @media (max-width: 575px) {
            font-size: 2rem;
            margin-bottom: 1.25rem;
        }
    }

    &__add-to-cart {
        font-size: 1rem;
        line-height: 119%;

        color: #000;

        border-radius: 3.125em;
        padding: 1.25em 4.374em;
        background: linear-gradient(93.58deg, #DD7FFE 0%, #F5D37B 100%);

        margin-bottom: 1.25rem;

        @media (min-width: 1921px) {
            font-size: calc( 16*100vw/1920);
            margin-bottom: calc(1.25*16*100vw/1920);
        }

        @media (max-width: 575px) {
            font-size: 0.875rem;
            width: 100%;

            margin-bottom: 0.75rem;
        }

        &:disabled {
            opacity: .4;
            cursor: auto;
        }
    }
}

.no-autorization {
    font-size: 1.125rem;
    line-height: 117%;

    @media (min-width: 1921px) {
        font-size: calc( 1.125*16*100vw/1920);
    }

    @media (max-width: 575px) {
        font-size: .75rem;
    }
}

.details {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    &__title {
        font-size: 2.625rem;
        line-height: 98%;

        @media (min-width: 1921px) {
            font-size: calc( 2.625*16*100vw/1920);
        }

        @media (max-width: 767px) {
            margin-bottom: 0.9375rem;
        }
        
        @media (max-width: 575px) {
            font-size: 2rem;
        }
    }

    &__text {
        width: 700/1160*100%;
        font-size: 1.125rem;
        line-height: 145%;

        @media (min-width: 1921px) {
            font-size: calc( 1.125*16*100vw/1920);
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            font-size: .75rem;
        }
    }
}

.purchase {
    display: flex;

    &__btn {
        margin-right: 30px;
    }

    &__numbers {
        display: flex;
        align-items: center;
    }

    &__decr, &__incr {
        font-size: 30px;
        width: 50px;
    }

    &__count {
        font-size: 30px;
        width: 50px;
        text-align: center;
    }
}