.exhibitions {
    padding: 50px 0;
    margin-top: 113px;

    &__grid {
        display: grid;
        grid-template: auto / 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 60px;
    }
}

.exhibitions-card {
    &__img {
        height: 300px;
        overflow: hidden;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
        }
    }
    
}