.picture-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
        flex-direction: column-reverse;  
    }

    &__img {
        min-width: 660/1160*100%;
        max-width: 660/1160*100%;
        border-radius: .9375rem;
        overflow: hidden;

        @media (min-width: 1921px) {
            border-radius: calc(0.9375 *16*100vw/1920);
        }

        @media (max-width: 991px) {
            min-width: 100%;
            max-width: 100%;
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
        }
    }

    &__info {
        width: 430/1160*100%;

        @media (max-width: 991px) {
            width: 100%;

            margin-bottom: 2rem;
        }
    }

    &__title {
        font-size: 2.625rem;
        line-height: 90%;

        margin-bottom: 2.0625rem;

        @media (min-width: 1921px) {
            font-size: calc(2.625* 16 *100vw/1920);
            margin-bottom: calc(2.0625* 16 *100vw/1920);
        } 

        @media (max-width: 991px) {
            display: flex;
        }

        @media (max-width: 575px) {
            display: block;
        }
    }

    &__name, &__author {
        margin: 0;
    }

    &__name {
        @media (max-width: 991px) {
            &:after {
                content: 'a';
                display: inline;
                color: transparent;
            }
        }
    }

    &__descr {
        font-size: 1.125rem;
        line-height: 145%;

        @media (min-width: 1921px) {
            font-size: calc(1.125 *16*100vw/1920);
        }

        @media (max-width: 575px) {
            font-size: 0.875rem;
        }
    }
}