@import './default.scss';

$text-color: #060606;

@font-face {
    font-family: 'CatLinz';
    font-display: swap;
    src: url("../fonts/cat-linz.regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.open-menu {
    overflow: hidden;

    .header {
        &::before {
            opacity: 0.6;
            visibility: visible;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 0.9375rem;

    @media (min-width: 1921px) {
        max-width: 62.5%;
        padding: 0 calc( 0.9375*16*100vw/1920);
    }

    @media (max-width: 1199px) {
        padding: 0 1.875rem;
    }

    @media (max-width: 575px) {
        padding: 0 .625rem;
    }
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    flex: 1 0 auto;
    position: relative;
}

.title {
    font-family: 'CatLinz', serif;
    color: $text-color;
}

.page-title {
    font-size: 3.125rem;
    line-height: 98%;

    margin-bottom: 1em;

    @media (max-width: 991px) {
        font-size: 2.875rem !important;
        margin-bottom: .5em !important;
    }

    @media (max-width: 575px)  {
        font-size: 2rem !important;
    }
}

@import './modal.scss';