.admin-page {
    padding: 3.125rem 0;
    margin-top: 7.0625rem;

    @media (min-width: 1921px) {
        padding: calc(3.125*16*100vw/1920) 0;
        margin-top: calc(7.0625*16*100vw/1920);
    }

    .tabs-wrapper {
        display: flex;
        justify-content: space-between;

        .first-tabs {
            display: block;
            border: none;

            .nav-item {

                a {
                    font-size: 1rem;
                    line-height: 119%;
                    color: #000000;

                    padding: 1em 1.875em;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: .625em;

                    @media (min-width: 1921px) {
                        font-size: calc(16*100vw/1920);
                    }

                    &.active {
                        background: #F4F4F4;
                        border-radius: .625em;
                    }

                    &:hover {
                        border: 1px solid #e9ecef;
                    }

                    
                }
            }

            &-content {
                width: 860/1160*100%;
            }
        }
    }
}
