.likes {
    &__grid {
        display: flex;
        margin-left: -1.875rem; /* gutter size offset */
        width: auto;
    }

    &__grid_column {
        padding-left: 1.875rem; /* gutter size */
        background-clip: padding-box;
    }
}

.like-card {
    width: 40%;

    margin-bottom: 15px;

    &__img {
        img {
            width: 100%;
        }
    }
}