.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    width: 100%;
    padding: 2.5rem 0;

    @media (min-width: 1921px) {
        padding: calc(40*100vw/1920) 0;
    }

    &__flex-wrapper {
        display: flex;
        align-items: center;

        @media screen and (max-width: 991px) {
            justify-content: space-between;
        }
    }   

    &__logo {
        margin-right: 125/1160 *100%;

        a {
            font-size: 1.875rem;
            line-height: 97%;
            letter-spacing: 0.03em;
            text-transform: uppercase;

            color: #FFFFFF;
            cursor: pointer;

            @media (min-width: 1921px) {
                font-size: calc(1.875*16*100vw/1920);
            }
        }
    }

    &__control {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    &__nav {
        width: 423/888*100%;
        display: block;
    }
}

.dark-color {
    color: #060606 !important;
}

.header-bg {
    background: #F4F4F4;
}

.nav {
    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    &__item {
        a {
            font-size: 1rem;
            line-height: 119%;
            padding: .9375em;
            color: #FFFFFF;

            @media (min-width: 1921px) {
                font-size: calc(16*100vw/1920);
            }
        }

        span {
            padding-bottom: .125em;
            border-bottom: 1px solid transparent;
            transition: border-bottom .2s ease-in-out;
        }

        &:hover {
            span {
                border-bottom: 1px solid #fff;
            }

            .dark-color {
                span {
                    border-bottom: 1px solid #060606;
                }
            }
        }
    }
}

.btns-group {
    &__btn {
        position: relative;
        border: none;
        background: transparent;

        font-size: 1rem;
        line-height: 119%;
        padding: .9375em;

        color: #FFFFFF;

        @media (min-width: 1921px) {
            font-size: calc(16*100vw/1920);
        }
        
        a {
            color: #FFFFFF;
        }

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
}

.burger {
    display: none;
    padding: 10px;
    width: 25px;
    height: 39px;

    position: relative;

    &__upper-line, &__down-line {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        
        transform: scale(1);
        transition: transform .3s ease-in-out;
    }

    &__upper-line {
        top: 10px;
        left: 10px;
    }

    &__down-line {
        bottom: 10px;
        left: 10px;
    }

    &__middle-line  {
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;

        &--upper, &--down {
            transition: transform .3s ease-in-out;
        }
    }

    &.active {
        .burger {
            &__upper-line, &__down-line {
                transform: scale(0);
            }

            &__middle-line {
                &--upper {
                    transform-origin: center center;
                    transform: rotate(45deg);
                }

                &--down {
                    transform-origin: center center;
                    transform: rotate(-45deg);
                }
            }

        }
    }

    @media screen and (max-width: 991px) {
        display: block;
    }
}

.logout-icon {
    width: 1.5625rem;
    height: 1.5625rem;

    cursor: pointer;
}