.footer {
    background: #424242;
    padding: 3.125rem 0;

    @media (min-width: 1921px) {
        padding: calc( 3.125*16*100vw/1920) 0;
    }

    &__flex-wrapper {
        display: flex;
    }

    &__logo {
        width: 248/1160*100%;

        &-name {
            font-family: "CatLinz", serif;
            font-size: 2.125rem;
            line-height: 98%;

            letter-spacing: 0.05em;
            text-transform: uppercase;

            margin-bottom: .294em;

            @media (min-width: 1921px) {
                font-size: calc( 2.125*16*100vw/1920);
            }

            a {
                color: #FFFFFF;
            }
        }

        &-year {
            font-size: .75rem;
            line-height: 125%;
            color: #FFFFFF;
            opacity: 0.6;  
            
            @media (min-width: 1921px) {
                font-size: calc( 0.75*16*100vw/1920);
            }
        }
    }

    &__nav {
        width: 348/1160*100%;

        &-link {
            font-size: .875rem;
            line-height: 125%;
            

            margin-bottom: .4286em;

            @media (min-width: 1921px) {
                font-size: calc( 0.875*16*100vw/1920);
            }

            a {
                padding: .2857em;
                color: #fff;
                

                span {
                    border-bottom: 1px solid transparent;
                    transition: border-bottom .2s ease-in-out;
                }

                &:hover {
                    span {
                        border-bottom: 1px solid #fff;
                    }     
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__contacts {
        width: 564/1160*100%;
        display: flex;
        justify-content: space-between;

        &-title {
            font-size: 2.125rem;
            line-height: 98%;
            color: #979797;

            @media (min-width: 1921px) {
                font-size: calc( 2.125*16*100vw/1920);
            }
        }

        &-list {
            font-size: .875rem;
            columns: 2;
            column-gap: 3.7857em;

            @media (min-width: 1921px) {
                font-size: calc( 0.875*16*100vw/1920);
            }
        }

        &-item {
            font-size: .875rem;
            line-height: 125%;
            color: #fff;

            margin-bottom: .625rem;

            @media (min-width: 1921px) {
                font-size: calc( 0.875*16*100vw/1920);
                margin-bottom:  calc( 0.625*16*100vw/1920);
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #fff;
            }
        }
    }
}