.footer {
    background: #424242;
    padding: 3.125rem 0;

    @media (min-width: 1921px) {
        padding: calc( 3.125*16*100vw/1920) 0;
    }

    @media (max-width: 1199px) {
        padding: 3rem 0;
    }

    &__flex-wrapper {
        display: flex;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        width: 248/1160*100%;

        @media (max-width: 991px) {
            width: 348/1160*100%;
        }

        @media (max-width: 767px) {
            width: auto;

            margin-bottom: 2.5rem;
        }

        &-name {
            font-size: 2.125rem;
            line-height: 98%;

            letter-spacing: 0.05em;
            text-transform: uppercase;

            margin-bottom: .294em;

            @media (min-width: 1921px) {
                font-size: calc( 2.125*16*100vw/1920);
            }

            @media (max-width: 991px) {
                font-size: 1.75rem;
            }

            @media (max-width: 575px) {   
                font-size: 1.5rem;
            }

            a {
                color: #FFFFFF;
            }
        }

        &-year {
            font-size: .75rem;
            line-height: 125%;
            color: #FFFFFF;
            opacity: 0.6;  
            
            @media (min-width: 1921px) {
                font-size: calc( 0.75*16*100vw/1920);
            }

            @media (max-width: 767px) {
                text-align: center;
            }

            @media (max-width: 575px) {   
                font-size: .6875rem;
            }
        }
    }

    &__nav {
        width: 348/1160*100%;

        @media (max-width: 991px) {
            width: 248/1160*100%;
        }

        @media (max-width: 767px) {
            width: auto;
        }

        &-list {
            @media (max-width: 767px) {
                margin-bottom: 2.5rem;
            }
        }

        &-link {
            font-size: .875rem;
            line-height: 125%;
            
            margin-bottom: .4286em;

            @media (min-width: 1921px) {
                font-size: calc( 0.875*16*100vw/1920);
            }

            @media (max-width: 767px) {
                margin-bottom: .72em;

                text-align: center;
            }

            @media (max-width: 575px) {   
                font-size: .6875rem;
            }

            a {
                padding: .2857em;
                color: #fff;
                

                span {
                    border-bottom: 1px solid transparent;
                    transition: border-bottom .2s ease-in-out;
                }

                &:hover {
                    @media (min-width: 992px)  {
                        span {
                            border-bottom: 1px solid #fff;
                        }   
                    }            
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__contacts {
        width: 564/1160*100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            width: auto;
        }
        
        @media (max-width: 767px) {
            width: auto;

            flex-direction: column;
        }

        &-title {
            font-size: 2.125rem;
            line-height: 98%;
            color: #979797;

            margin-right: 85/564*100%;

            @media (min-width: 1921px) {
                font-size: calc( 2.125*16*100vw/1920);
            }

            @media (max-width: 1199px) {
                margin-right: 10%;
            }

            @media (max-width: 991px) {
                margin-right: 8%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        &-list {  
            display: block;  
            width: 100%;
            font-size: .875rem;
            columns: 2;
            column-gap: 2.5em;

            margin-bottom: 0;

            @media (min-width: 1921px) {
                font-size: calc( 0.875*16*100vw/1920);
            }

            @media (max-width: 991px) {
                column-gap: 0;
            }
    
            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-item {
            font-size: .875rem;
            line-height: 125%;
            color: #fff;

            margin-bottom: .625rem;

            @media (min-width: 1921px) {
                font-size: calc( 0.875*16*100vw/1920);
                margin-bottom:  calc( 0.625*16*100vw/1920);
            }

            @media (max-width: 575px) {   
                font-size: .6875rem;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                color: #fff;
            }
        }
    }
}