.about-info {
    padding: 5.625rem 0 5.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1921px) {
        padding: calc( 5.625*16*100vw/1920) 0 calc( 5.3125*16*100vw/1920);
    }

    @media (max-width: 991px) {
        flex-direction: column;
        align-items: start;

        padding: 3.875rem 0;
    }

    @media (max-width: 575px) {
        padding: 1.875rem 0;
    }
}