.map {
    background: #F8F8F8;
    padding: 85px 0;

    &__flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: 'CatLinz', serif;
        font-size: 82px;
        line-height: 85%;
        color: #060606;

        margin-bottom: 48px;
    }

    &__info {
        font-size: 18px;
        line-height: 125%;
        color: #060606;

        &-item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__frame {
        iframe {
            width: 660px;
            height: 450px;
            border: none;
        }
    }
}