.slider {
    height: 75vh;

    @media (max-width: 991px) {
        height: 80vh;
    }

    @media (max-width: 575px) {
        height: 100vh;
    }

    @media (max-height: 420px) {
        height: 150vh;
    }

    &__flex-wrapper {
        position: relative;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 7.25rem;

        @media (min-width: 1921px) {
            padding-bottom: calc( 7.25*16*100vw/1920);
        }

        @media (max-width: 1199px) {
            padding-bottom: 5.625rem;
        }

        @media (max-width: 575px) {
            padding-bottom: 4.6875  rem;
        }
    }

    &__item {
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        &::before {
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(66, 66, 66, 0.675) 0%, rgba(66, 66, 66, 0) 37.54%), linear-gradient(0deg, rgba(53, 53, 53, 0.55), rgba(53, 53, 53, 0.55));
        }
    }

    &__title {
        font-family: 'CatLinz', serif;
        font-size: 3.375rem;
        line-height: 100%;

        
        width: 80%;
        margin-bottom: .556em;

        @media (min-width: 1921px) {
            font-size: calc( 3.375*16*100vw/1920);
        }

        @media (max-width: 991px) {
            font-size: 3.125rem;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            font-size: 2rem;
        }

        a {
            color: #FFFFFF;
            opacity: 1;
            transition: opacity .15s linear;

            &:hover {
                @media (min-width: 992px) {
                    opacity: .8;
                }
            }
        }

    }

    &__text {
        font-size: 1.125rem;
        line-height: 125%;
        color: #FFFFFF;

        width: 55%;

        @media (min-width: 1921px) {
            font-size: calc( 1.125*16*100vw/1920);
        }

        @media (max-width: 1199px) {
            width: 60%;
        }

        @media (max-width: 991px) {
            width: 80%;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            font-size: .75rem;
        }
    }

    &__control-wrapper {
        position: absolute;
        height: .625rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;

        @media (min-width: 1921px) {
            font-size: calc( 0.625*16*100vw/1920);
        }
    }

    &__next, &__prev {
        position: absolute;
        width: 2.0625rem;
        height: 1.875rem;
        bottom: 4.0625rem;
        cursor: pointer;

        transition: transform .2s linear;

        @media (min-width: 1921px) {
            width: calc( 2.0625*16*100vw/1920);
            height: calc( 1.875*16*100vw/1920);
            bottom: calc( 4.0625*16*100vw/1920);
        }

        @media (max-width: 1199px) {
            bottom: 3.125rem;
        }

        @media (max-width: 991px) {
            display: none;
        }

        &:hover {
            transform: scale(1.075);
        }

        &:active {
            transform: scale(1);
        }
    }

    &__next {
        background: url('./imgs/arrowNext.svg') center center no-repeat;
        right: 0.9375rem;

        @media (min-width: 1921px) {
            right: calc( 0.9375*16*100vw/1920);
        }

        @media (max-width: 1199px) {
            right: 1.875rem;
        }
    }

    &__prev {
        background: url('./imgs/arrowPrev.svg') center center no-repeat;
        right: 4.5625rem;

        @media (min-width: 1921px) {
            right: calc( 4.5625*16*100vw/1920);
        }

        @media (max-width: 1199px) {
            right: 5rem;
        }
    }

    &__pagination {
        max-width: 75rem;
        left: 50% !important;
        transform: translateX(-50%) !important;
        padding: 0 .9375rem;
        bottom: 4.25rem !important;
        text-align: left !important;

        @media (min-width: 1921px) {
            max-width: calc( 75*16*100vw/1920);
            padding: 0 calc( 0.9375*16*100vw/1920);
            bottom: calc( 4.25*16*100vw/1920) !important;
        }

        @media (max-width: 1199px) {
            padding: 0 1.875rem;

            bottom: 3.125rem!important;
        }

        @media (max-width: 575px) {
            padding: 0 .625rem;
        }

        &-bullet {
            width: 2.5rem !important;
            height: .1875rem !important;
            border-radius: 0 !important;

            background: #FFFFFF !important;
            opacity: 0.3 !important;

            transition: opacity .2s linear;

            @media (min-width: 1921px) {
                width: calc( 2.5*16*100vw/1920) !important;
                height: calc( 0.1875*16*100vw/1920) !important;
            }

            @media (max-width: 575px) {
                width: 2rem !important;
                height: 0.125rem !important;
            }

            &.swiper-pagination-bullet-active {
                opacity: 1 !important;
                background-color: #fff  !important;
            }
        }
    }
}